<mat-card *ngIf="section" class="detail-card">
  <mat-card-header>
    <mat-card-title>{{ section.title }}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon> Back
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <ng-container *ngFor="let item of section.items">
        <ng-container *ngIf="isSubSection(item)">
          <h3 mat-subheader>{{ item.subtitle }}</h3>
          <mat-list-item *ngFor="let subItem of item.items">
            <span class="list-item-text">{{ subItem }}</span>
          </mat-list-item>
        </ng-container>
        <ng-container *ngIf="!isSubSection(item)">
          <mat-list-item>
            <span class="list-item-text">{{ item }}</span>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
